<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img style="height:25px"src="/images/outbreak_logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText"></div>
    <span class="navbar-text">
       <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register & Play</a>
      </li>
    </ul>
    </span>
  </div>
</nav>
<main style=" height:100vh;">
<div class="container">
  <div class="row align-items-center">
    <div class="col big-box">
    <div style="margin-top: 10px;">
      <h1 style="color: red;">Come & Play OutBreak</h1>
      <h2 style="color: grey;">Save humanity by finding and removing the Infected!</h2>
      <h3>Time to be a hero</h3>
      <button type="button" class="btn btn-danger">Learn more</button>
    </div>
    </div>
    
    <div  id="blur-box" class="col" style="background-color: red; margin-top: 100px; border-radius: 50%; ">
      <div style="margin-top: 60px" class="row ">
        <div class="col mini-box">
            <img style="width:220px"src="/images/imginfected.png">
        </div>
        <div class="col mini-box">
            <img style="width: 220px;" src="/images/imagedoc.png">
        </div>
      </div>
      <div class="row">
        <div class="col mini-box">
            <img style="width: 220px;" src="/images/imguy.png">
        </div>
        <div class="col mini-box">
            <img style="width: 220px;" src="/images/imagegirl.png">
        </div>
      </div>
    </div>
    
  </div>
</div>
</main>