<main>
    <div id="Register">
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form" action="" method="post">
                            <h3 class="text-center text-danger">Register</h3>
                            <div class="form-group">
                                <label for="username" class="text-danger">Username:</label><br>
                                <input type="text" name="username" id="name-signup" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-danger">Email:</label><br>
                                <input type="text" name="email" id="email-signup" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-danger">Password:</label><br>
                                <input type="text" name="password" id="password-signup" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-danger"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit"  id="registerBtn"class="btn btn btn-warning btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/" class="text-danger">Home</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="./js/login.js"></script>
