#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #1f1a1a;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  #Register .container #register-row #register-column #register-box {
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 600px;
    height: 500px;
    border: 1px solid #9C9C9C;
    background-color: #1f1a1a;
  }

  #Registser .container #register-row #register-column #register-box #register-form {
    padding: 20px;
  }
  #Register .container #register-row #register-column #register-box #register-form #register-link {
    margin-top: -85px;
  }